<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light" id="header">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Настольное приложение классного руководителя
    </a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class=" col-md-12 navbar navbar-expand-lg navbar-light bg-info ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href=""> Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Студенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Родители</a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>
    <div class="row">
        <div class="col-md-12 " id="content">
            <center>
                <h1>Ошибка!</h1>
                <h3><span th:text="${errorTitle}"></span></h3>
                <h6><span th:text="${errorDescription}"></span></h6>
            </center>
        </div>
    </div>
</div>
<style type="text/css">
    body{
    }
    header{
      background-color: #51b8eb;
      height:80px;
      width:100%;
    }
    #navigation{
      background-color: #458ad2;
      width:18vw;
      height:100vh;
    }
    #content{
      float:right;
      width:100%;
      padding:25px;
      background-color:#ffffff;
    }
    .content-item{
      margin: 20px;
    }
    #v-pills-tab a{
      margin-top: 10px;
      color:white;
    }
h6{
margin-top:30px;
}


</style>
</body>
</html>
