<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-light bg-light" id="header">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Настольное приложение классного руководителя
    </a>
</nav>


<div class="container-fluid">
    <div class="row">
        <nav class=" col-md-12 navbar navbar-expand-lg navbar-light bg-info ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="http://localhost:8081/home"> Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:8081/students">Студенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8081/parents">Родители</a>
                    </li>

                </ul>

            </div>
        </nav>

    </div>

    <div class="row">
        <div class="col-md-12 " id="content">
Выберите студента, посещаемость, которого вы хотите открыть
            <table>
                <thead>
                <tr>
                    <th class=" p-1 text-center"> Студент </th>
                    <th class=" p-1 text-center"> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td class=" p-1 text-center">
                        <span th:text="${student.middleName}"></span>
                        <span th:text="${student.firstName}"></span>
                        <span th:text="${student.lastName}"></span>
                    </td>
                    <td class=" p-1 text-center">
                        <a th:href="@{'http://localhost:8081/attendance-journal/' + ${student.id}}" ><button type="button" class="btn btn-danger">Показать</button></a>

                    </td>

                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<style type="text/css">
    body{
    }
    header{
      background-color: #51b8eb;
      height:80px;
      width:100%;
    }
    #navigation{
      background-color: #458ad2;
      width:18vw;
      height:100vh;
    }
    #content{
      float:right;
      width:100%;
      padding:25px;
      background-color:#ffffff;
    }
    .content-item{
      margin-top: 20px;
    }
    #v-pills-tab a{
      margin-top: 10px;
      color:white;
    }


</style>
</body>
</html>